*{
    margin: 0;
    padding: 2px 2px 0 2px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background: #ffffff00;
    transition: 1s;

}

::-webkit-scrollbar-thumb {
    background: #ffffff00;
    transition: 1s;
}


.albuns:hover::-webkit-scrollbar {
    background-color: #0000002a;
    transition: 1s;
}

.albuns:hover::-webkit-scrollbar-thumb {
    background: #ffffff9d;
}


.albuns::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c9d
    
}

.content:hover::-webkit-scrollbar {
    background-color: #0000002a;
    transition: 1s;
}

.content:hover::-webkit-scrollbar-thumb {
    background: #ffffff9d;
}


.content::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c9d
}



body{
    background-color: #000000!important;
    max-height: 100%;
    
}

.flex{
    display: flex;
    width: 100%;
}


.start{
    background-color: rgb(18, 18, 18);
    width: 100%;
    padding: 15px 25px;
    color:#4e4e4e;
    border-radius: 11px;
    font-size: 18px;
}

.start i:nth-of-type(1){
    margin-bottom: 15px;
}

.hoverSpan:hover{
    color: white;
    transition: 0.6s;
}


.library{
    height: 100%;
    background-color: rgb(18, 18, 18);
    height: 70vh;
    max-height: 70vh;
    background-color: rgb(18, 18, 18);
    margin-top: 8px;
    padding: 15px 15px;
    color: #4e4e4e;
    border-radius: 11px;
    font-size: 18px;
    overflow-x: auto;
}

.library .title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.subfilter{
    margin-top: 10px;
}

.subfilter button{
    color: white;
    background: rgb(35, 35, 35);
    border: none;
    border-radius: 35px;
    font-size: 14px;
    padding: 5px 10px;
}


.search{
    margin-top: 8px;    
}

.search input{
    background-color: rgb(18, 18, 18);
    color: #4e4e4e;
    border: none;
    width:50%;

}

.search input:focus {
    outline: none;
}


.search i{
    border: none;
        background-color: rgb(18, 18, 18);
        padding-left: 3px;
        color: #4e4e4e;
}



.albuns-single{
    padding:10px 6px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 2px;
    border-radius: 6px;
}

.albuns-single:hover{
    background-color: rgb(26, 26,26);
}

.square{
    background: #ccc;
    width: 40px;
    height: 100%;
    border-radius: 5px;
}

.albumGroup {
    margin-left: 10px;
}

.albumGroup .titleAlbum {
    color: white;
    font-weight: 400;
}

.albumGroup .subTitleAlbuns {
    font-weight: 400;
}






/*sessao do meio*/

.musics {
    background: rgb(30, 15, 67);
    background: linear-gradient(180deg, rgba(30, 15, 67, 1) 10%, rgba(18, 18, 18, 1) 43%);
    width: 100%;
    padding: 10px;
    height: 100%;
    border-radius: 11px;
    padding: 0;
}

.comands-section{
    background: rgb(30,15,67);
    width: 100%;
    border-top-left-radius:11px;
    border-top-right-radius: 11px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px ;
}

.comands-section i{
    background-color: rgb(17,9,38);
    border-radius: 17px;
    padding: 7px 10px;
}

.comands-section i:hover {
    background-color: rgb(9, 4, 19);
    transition: 0.6s;
   
}


.musics .content{
    padding: 0px 15px 15px 15px;
    color: white;
    max-height: 78vh;
    overflow-x: auto;
}



.albuns-recentes{
    width: 100%;
    display: flex;
}

.mini-cards{
    height: 50px;
    background-color: rgb(48,41,65);
    width: 100%;
    display: flex;
    align-items: center;
    border-radius:4px;
    margin-bottom: 10px;
}

.mini-cards span{
    margin-left: 15px;
}

.albuns-recentes  .imgAl{
    height: 100%;
    width: 55px;
    background: #CCC;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    margin-left: -1px;
}


.mixes{
    width: 100%;
    display: flex;
}

.card{
    background-color: rgb(23,23,23)!important;
}


.card-img{
    height:120px;
    width: 100%;
    background-color: #ccc;
}










.friends {
    background-color: rgb(18, 18, 18);
    width: 100%;
    padding: 10px;
    height: 100%;
    border-radius: 11px;
}

.title-friends{
    display: flex;
    justify-content: space-between;
    color: #4e4e4e;
}

.player{
    width: 100%;
    display: flex;
}


.player .col-md-3:nth-of-type(1){
    display: flex;
    padding: 15px 10px 0 15px;
}

.player .musicImg {
    width: 46px;
    height: 46px;
    background-color: #CCC;
}


.controler-musicaAtual{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4e4e4e;
    font-size: 22px;
}

.controler-musicaAtual i{
    margin: 0 5px;
}


.progressBar{
    width: 85%;
        height: 5px;
        border-radius: 10px;
        background: white;

}

.controlers{
    display: flex;
    color: #4e4e4e;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding: 25px 0px 0 0;
}

.controlers i{
   padding: 0 10px;
}
.controlers i:nth-of-type(3) {
    padding: 0 20px;
}

.controlers .volumebar{
    width: 70px;
    height: 5px;
    border-radius: 10px;
    background: #4e4e4e;
}